@using JeuDontOnEstLeHerosNG.Data.Models
@model List<Paragraphe>

@{
    // ViewData["Title"] = "Aventure page";
// string Title = "Aventures";
}

<div class="text-center">
    <h1 class="display-4">@ViewBag.MonTitle</h1>

    <a asp-controller="Paragraphe" asp-action="Create" class="btn btn-primary">Nouveau paragraphe</a>

    <h2 class="text-center">Vos derniers paragraphes</h2>

    <div class="row row-content">
        <div class="row justify-content-center">
            @foreach (var paragraphe in Model)
    {
            <a href="#" class="card border m-2 text-center" style="width: 8rem;">
                    <div class="card-body">
                        @paragraphe.Title
                    </div>
                </a>
        <!--
            <div class="card border-primary m-1" style="max-width: 7rem;">
                <div class="card-body text-center">
                    plop
                </div>
                mon contenu (@paragraphe)
            </div>
            -->
    }
        </div>
    </div>

</div>
